<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><% if current_article %><%= current_article.title %><%else%>Blog index<%end%> - tactile.co.za</title>
    <%= stylesheet_link_tag 'legacy' %>
    <%= feed_tag :atom, "/feed.xml", title: "Atom Feed" %>
  </head>
  <body>
    <div id="wrapper">
      <header>
        <h1><a href="/blog">tactile</a></h1>
        <h2>- thoughts on CSS, UIs and UX.</h2>
      </header>
      <nav>
        <ul>
          <!--li><a href="/about/">About</a></li-->
          <li><a href="<%= "#{blog.options.prefix.to_s}/feed.xml" %>">RSS</a></li>
        </ul>
      </nav>
      <div id="content">
        <% if current_article %>
        <article class="post">
          <h1><a href="<%= current_article.url %>"><%= current_article.title %></a></h1>
          <small>
            <b>Posted:</b> <%= current_article.date.strftime('%B %e, %Y') %>
            <b>Author:</b> <a href="http://tactile.co.za/about/">Shaun</a>
          </small>
          <%= yield %>
        </article>
        <% else %>
        <article>
          <%= yield %>
        </article>
        <% end %>
      </div>
    </div>
    <% if ApplicationConfig.const_defined?(:GoogleAnalytics) %>
    <%= partial "partials/google_analytics" %>
    <% end %>
  </body>
</html>
